{{define "page:title"}}{{.AppName}}{{end}}

{{define "page:main"}}
  <section class="container">
    <article id="home-welcome" class="secondary">
      <h1>Welcome</h1>
    </article>
  </section>
{{end}}
