{{define "page:title"}}Login{{end}}

{{define "page:main"}}
  <div class="container">
    <h2>Login</h2>
    <form method="POST" action="/login">
      <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
      <div>
        <label for="passphrase">Passphrase:
          {{with .Form.Validator.FieldErrors.Passphrase}}
            <span class="error">{{.}}</span>
          {{end}}
        <input id="passphrase" type="password" name="Passphrase" required
               aria-invalid="{{if .Form.Validator.FieldErrors.PassphraseError}}true{{end}}">
          <small>The passphrase is a pre-shared key. If you don't know it, talk to the administrator or create your own Conrad instance.</small>
          </label>
      </div>
      <button>Login</button>
    </form>
  </div>
{{end}}
