{{define "create-clients-form"}}
  <div class="container">
    <article id="gitlab-client">
      <hgroup>
        <h2>Create GitLab Client</h2>
        <p>
          Add a name for your client, webhook URL and GitLab access token.
        </p>
        <p>
          You can update these details at any time. After this you will be
          asked to select
          which repositories {{.AppName}} should monitor.
        </p>
      </hgroup>
      <form method="POST" action="{{.FormURL}}">
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

          {{if .Form.Validator.HasErrors}}
            <div class="error">Something was wrong. Please correct the errors
              below and try again.
            </div>
          {{end}}
        <div>
          <label for="name-input">Name:
              {{with .Form.Validator.FieldErrors.Name}}
                <span class="error">{{.}}</span>
              {{end}}
            <input id="name-input" type="text" name="Name"
                   placeholder="Enter a user friendly name" required
                   value="{{.Form.Name}}"
                   aria-invalid="{{if .Form.Validator.FieldErrors.Name}}true{{end}}">
            <small>This name should be something memorable. It is for easier
              recognition.</small>
          </label>
        </div>

        <div class="grid">
          <label for="gitlabURL">GitLab URL:
              {{with .Form.Validator.FieldErrors.GitLabURL}}
                <span class="error">{{.}}</span>
              {{end}}
            <input id="gitlabURL" type="text" name="GitLabURL" required
                   value="{{if .Form.GitLabURL}}{{.Form.GitLabURL}}{{else}}https://gitlab.com{{end}}">
            <small>Enter your custom GitLab server address if not using
              Gitlab.com.</small>
          </label>
          <label for="ClientToken">GitLab Access Token:
              {{with .Form.Validator.FieldErrors.ClientToken}}
                <span class="error">{{.}}</span>
              {{end}}
            <input id="client-token" type="text"
                   name="ClientToken" required placeholder="glpat-"
                   value="{{.Form.ClientToken}}">
            <small>We'll confirm this is working once you hit create.</small>
          </label>
{{/*          <label for="WebhookURL">Webhook URL:*/}}
{{/*              {{with .Form.Validator.FieldErrors.WebhookURL}}*/}}
{{/*                <span class="error">{{.}}</span>*/}}
{{/*              {{end}}*/}}
{{/*            <input id="webhook-url" type="text"*/}}
{{/*                   name="WebhookURL" required*/}}
{{/*                   placeholder="Mattermost webhook URL"*/}}
{{/*                   value="{{.Form.WebhookURL}}">*/}}
{{/*            <small>You'll need to create a <a*/}}
{{/*                      href="https://developers.mattermost.com/integrate/webhooks/incoming/">Incoming*/}}
{{/*                Webhook</a> in your Mattermost instance.</small>*/}}
{{/*          </label>*/}}
        </div>
        <fieldset>
          <legend>Insecure Skip Verify:</legend>
          <label>
            <input type="checkbox" name="Insecure" role="switch"/>
          </label>
          <small>Is your GitLab instance running HTTP, or using a self-signed
            certificate? You made need to select this.</small>
        </fieldset>
        <button>Create</button>
      </form>
    </article>
  </div>

{{end}}
